<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Product - Price - Decimal" Key="68e8fef5-9761-426e-b7d4-f4d5435cf41f" Id="Umbraco.Decimal" DatabaseType="Decimal">
  <PreValues>
    <PreValue SortOrder="1" Alias="min"><![CDATA[]]></PreValue>
    <PreValue SortOrder="2" Alias="step"><![CDATA[]]></PreValue>
    <PreValue SortOrder="3" Alias="max"><![CDATA[]]></PreValue>
  </PreValues>
</DataType>