<?xml version="1.0" encoding="utf-8"?>
<people guid="5582ae2f-efa8-422f-a9c9-7ff1c9e8dd85" id="1113" nodeName="People" isDoc="" updated="2019-07-10T09:44:40.5070000Z" parentGUID="156f1933-e327-4dce-b665-110d62720d03" nodeTypeAlias="people" templateAlias="People" sortOrder="1" published="true" isBlueprint="false">
  <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></bodyText>
  <featuredPeople></featuredPeople>
  <keywords></keywords>
  <pageTitle><![CDATA[Nice crazy people]]></pageTitle>
  <seoMetaDescription></seoMetaDescription>
  <umbracoNavihide>0</umbracoNavihide>
</people>