<?xml version="1.0" encoding="utf-8"?>
<uSyncSnapshotSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <!-- mode can be target/source or combines (changes what you see in the backoffice) -->
  <Mode>combined</Mode>
  
  <!-- allow uploading of zip files to the snapshots folder -->
  <Upload>true</Upload>
  
  <!-- additional folders to include in the snapshots -->
  <Folders>
    <!--
    <Folder Path="Views" />
    <Folder Path="Css" />
    <Folder Path="Scripts" /> -->
  </Folders>
</uSyncSnapshotSettings>