<?xml version="1.0" encoding="utf-8" ?>
<uSyncCoreSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">


  <!-- where uSync will store media files (if you need it to) -->
  <MediaStorageFolder>~/uSync/MediaFiles/</MediaStorageFolder>

  <!-- uSync Core Settings
  
    Mappings help usync do property value mappings,
    each mapping describes how a datatype may store
    internal ids inside umbraco. 
    
    uSync can map Ids between versions for:
    
      Content (and media)
      Templates
      DocumentTypes
      Tab Ids
  
  -->
  <Mappings>
    <uSyncValueMapperSettings>
      <DataTypeId>Umbraco.MultiNodeTreePicker</DataTypeId>
      <MappingType>content</MappingType>
      <ValueStorageType>json</ValueStorageType>
      <PropertyName>startNode</PropertyName>
      <PropertySplitter>0</PropertySplitter>
      <PropertyPosistion>0</PropertyPosistion>
    </uSyncValueMapperSettings>
  </Mappings>
</uSyncCoreSettings>