<?xml version="1.0" encoding="utf-8"?>
<Image guid="3d758b1f-24ec-47b0-a75c-225b0444991b" id="1130" nodeName="Umbraco Campari Meeting Room" isDoc="" updated="2019-07-10T09:31:00.2770000Z" parentGUID="b6f11172-373f-4473-af0f-0b0e5aefd21c" nodeTypeAlias="Image" path="-1,1127,1130">
  <umbracoBytes></umbracoBytes>
  <umbracoExtension></umbracoExtension>
  <umbracoFile><![CDATA[{src: '/media/1030/16403439029_f500be349b_o.jpg', crops: []}]]></umbracoFile>
  <umbracoHeight></umbracoHeight>
  <umbracoWidth></umbracoWidth>
</Image>