<?xml version="1.0" encoding="utf-8"?>
<DataType Name="ID Based MNTP" Key="b2836c19-91f2-47ce-9e02-7a0617a6701f" Id="Umbraco.MultiNodeTreePicker" DatabaseType="Nvarchar">
  <Nodes>
    <Node Id="1131" Value="Products\Biker Jacket" Type="media" MapGuid="1" />
  </Nodes>
  <PreValues>
    <PreValue SortOrder="1" Alias="startNode" MapGuid="1"><![CDATA[{
  "type": "media",
  "id": 1131
}]]></PreValue>
    <PreValue SortOrder="2" Alias="filter"><![CDATA[]]></PreValue>
    <PreValue SortOrder="3" Alias="minNumber"><![CDATA[]]></PreValue>
    <PreValue SortOrder="4" Alias="maxNumber"><![CDATA[]]></PreValue>
    <PreValue SortOrder="5" Alias="showOpenButton"><![CDATA[0]]></PreValue>
  </PreValues>
</DataType>