<?xml version="1.0" encoding="utf-8"?>
<MediaType>
  <Info>
    <Key>33eb3c24-6340-4938-ad2b-65bdff98acdf</Key>
    <Name>filechild</Name>
    <Alias>filechild</Alias>
    <Icon>icon-picture</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Compositions />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</MediaType>