<?xml version="1.0" encoding="utf-8"?>
<Image guid="10d1d7ab-3774-482f-b621-a6ef396104bc" id="1137" nodeName="Banjo" isDoc="" updated="2019-07-10T09:31:01.4730000Z" parentGUID="6d5bf746-cb82-45c5-bd15-dd3798209b87" nodeTypeAlias="Image" path="-1,1129,1137">
  <umbracoBytes></umbracoBytes>
  <umbracoExtension></umbracoExtension>
  <umbracoFile><![CDATA[{src: '/media/1014/7373036290_5e8420bf36_b.jpg', crops: []}]]></umbracoFile>
  <umbracoHeight></umbracoHeight>
  <umbracoWidth></umbracoWidth>
</Image>