<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Product - Features - Nested Content" Key="2b806d03-d9f7-41a3-8226-4abc870585c4" Id="Umbraco.NestedContent" DatabaseType="Ntext">
  <PreValues>
    <PreValue SortOrder="1" Alias="contentTypes"><![CDATA[[
  {
    "ncAlias": "feature",
    "ncTabAlias": "Feature",
    "nameTemplate": "{{featureName}}"
  }
]]]></PreValue>
    <PreValue SortOrder="2" Alias="minItems"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="3" Alias="maxItems"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="4" Alias="confirmDeletes"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="5" Alias="showIcons"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="6" Alias="hideLabel"><![CDATA[]]></PreValue>
  </PreValues>
</DataType>