<?xml version="1.0" encoding="utf-8"?>
<Image guid="e415f0b7-5dcd-4a99-ab99-82eba3a1cc00" id="1136" nodeName="Jumpsuit" isDoc="" updated="2019-07-10T09:31:01.2700000Z" parentGUID="6d5bf746-cb82-45c5-bd15-dd3798209b87" nodeTypeAlias="Image" path="-1,1129,1136">
  <umbracoBytes></umbracoBytes>
  <umbracoExtension></umbracoExtension>
  <umbracoFile><![CDATA[{src: '/media/1015/7377957524_347859faac_b.jpg', crops: []}]]></umbracoFile>
  <umbracoHeight></umbracoHeight>
  <umbracoWidth></umbracoWidth>
</Image>