<?xml version="1.0" encoding="utf-8"?>
<uSyncCoreSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <MediaStorageFolder>~/uSync/MediaFiles/</MediaStorageFolder>
  <MoveMedia>false</MoveMedia>
  <Mappings>
    <uSyncValueMapperSettings>
      <DataTypeId>Umbraco.MultiNodeTreePicker</DataTypeId>
      <MappingType>content</MappingType>
      <ValueStorageType>json</ValueStorageType>
      <ValueAlias>startNode</ValueAlias>
      <PropertySplitter>0</PropertySplitter>
      <PropertyPosistion>0</PropertyPosistion>
    </uSyncValueMapperSettings>
  </Mappings>
  <ContentMappings />
</uSyncCoreSettings>