<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>bc5a7726-399f-4674-8908-f5885e2dafe6</Key>
    <Name>Products</Name>
    <Alias>products</Alias>
    <Icon>icon-shopping-basket</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Compositions>
      <Composition Key="05072ba3-4c3b-44ca-b11e-235d109ca1d2">contentBase</Composition>
      <Composition Key="7fb246e5-3c51-408a-b510-143bb9ab52a1">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>Products</DefaultTemplate>
    <AllowedTemplates>
      <Template>Products</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a70a4331-bcde-4e7b-8cbf-aeab161e8b9c</Key>
      <Name>Default Currency</Name>
      <Alias>defaultCurrency</Alias>
      <Definition>4d7ef8eb-0e2f-4847-8025-9570aae43544</Definition>
      <Type>Umbraco.DropDown</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is just used to prefix pricing]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Shop</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>7b716b0e-2a8e-4c4e-bb6d-9222ef1de9f9</Key>
      <Name>Featured Products</Name>
      <Alias>featuredProducts</Alias>
      <Definition>d865637a-829e-47b9-a9ca-b19a0bb4d3ee</Definition>
      <Type>Umbraco.MultiNodeTreePicker2</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Shop</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Shop</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>