<?xml version="1.0" encoding="utf-8"?>
<Image guid="57643398-d917-4b93-bc71-e9c3038a0abc" id="1134" nodeName="Ping Pong Ball" isDoc="" updated="2019-07-10T09:31:00.9370000Z" parentGUID="6d5bf746-cb82-45c5-bd15-dd3798209b87" nodeTypeAlias="Image" path="-1,1129,1134">
  <umbracoBytes></umbracoBytes>
  <umbracoExtension></umbracoExtension>
  <umbracoFile><![CDATA[{src: '/media/1011/5852022211_9028df67c0_b.jpg', crops: []}]]></umbracoFile>
  <umbracoHeight></umbracoHeight>
  <umbracoWidth></umbracoWidth>
</Image>