<?xml version="1.0" encoding="utf-8"?>
<Image guid="7239dc96-6ea1-418e-9a6e-4caa9a8014fa" id="1133" nodeName="Unicorn" isDoc="" updated="2019-07-10T09:31:00.7670000Z" parentGUID="6d5bf746-cb82-45c5-bd15-dd3798209b87" nodeTypeAlias="Image" path="-1,1129,1133">
  <umbracoBytes></umbracoBytes>
  <umbracoExtension></umbracoExtension>
  <umbracoFile><![CDATA[{src: '/media/1016/14272036539_469ca21d5c_h.jpg', crops: []}]]></umbracoFile>
  <umbracoHeight></umbracoHeight>
  <umbracoWidth></umbracoWidth>
</Image>