<?xml version="1.0" encoding="utf-8"?>
<product guid="26797b92-8186-4ac4-af7f-9f6ae4aad4f7" id="1111" nodeName="Banjo" isDoc="" updated="2019-07-10T09:44:43.1200000Z" parentGUID="485343b1-d99c-4789-a676-e9b4c98a38d4" nodeTypeAlias="product" templateAlias="Product" sortOrder="6" published="true" isBlueprint="false">
  <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
  <category><![CDATA[bingo,music]]></category>
  <description><![CDATA[Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Proin eget tortor risus.]]></description>
  <features></features>
  <photos><![CDATA[umb://media/10d1d7ab3774482fb621a6ef396104bc]]></photos>
  <price>399</price>
  <productName><![CDATA[Banjo]]></productName>
  <sku><![CDATA[UMB-BANJO]]></sku>
</product>