<div id="uSyncDashboard" ng-controller="uSyncDashboardController" class="usync-dash">
    <div ng-show="isInError" class="alert alert-danger">Error: {{errorMsg}}</div>

    <div class="row">
        <div class="span12">
            <ul class="nav nav-tabs usync-tabs">
                <li ng-repeat="tab in settings.addOnTabs track by $index" ng-class="{'active' : $index == 0}">
                    <a href="#usync_tab_{{$index}}" data-toggle="tab">{{tab.name}}</a>
                </li>
            </ul>
        </div>

        <div class="tab-content">
            <div ng-repeat="tab in settings.addOnTabs track by $index" id="usync_tab_{{$index}}" class="tab-pane"
                 ng-class="{'active' : $index == 0}">
                <div ng-include="tab.template"></div>
            </div>
        </div>
    </div>
</div>
