<?xml version="1.0" encoding="utf-8"?>
<DictionaryItem Key="Dictionary Items">
  <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[A Root Dictionary Item - updated via uSync]]></Value>
  <Value LanguageId="2" LanguageCultureAlias="en-GB"><![CDATA[a root item.]]></Value>
  <DictionaryItem Key="A Child Item">
    <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[]]></Value>
    <DictionaryItem Key="A Grandchild item">
      <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[A child of a child - updated via uSync]]></Value>
      <Value LanguageId="2" LanguageCultureAlias="en-GB"><![CDATA[A grandchild of the grandparent. - updated via uSync also.]]></Value>
    </DictionaryItem>
  </DictionaryItem>
</DictionaryItem>