<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Home - Font - Radio button list" Key="28e0c92d-3547-4346-99c4-8287d8a541b9" Id="Umbraco.RadioButtonList" DatabaseType="Integer">
  <PreValues>
    <PreValue SortOrder="1" Alias="0"><![CDATA[standard]]></PreValue>
    <PreValue SortOrder="2" Alias="1"><![CDATA[serif]]></PreValue>
    <PreValue SortOrder="3" Alias="2"><![CDATA[mono]]></PreValue>
  </PreValues>
</DataType>