<div class="inner-content-pane" ng-controller="Our.Umbraco.InnerContent.Controllers.InnerContentCreateController" ng-cloak>

    <h5 ng-show="selectContentType">Select a Content Type</h5>
    <h5 ng-show="selectBlueprint"><localize key="blueprints_selectBlueprint">Select a blueprint</localize></h5>

    <p class="abstract" ng-if="allowedTypes && allowedTypes.length === 0">
        <localize key="create_noDocumentTypes" />
    </p>

    <ul class="umb-actions umb-actions-child" ng-show="selectContentType">
        
        <li data-element="action-create-{{docType.alias}}" ng-repeat="docType in allowedTypes | orderBy:'name':false">
            <a ng-click="createOrSelectBlueprintIfAny(docType)">
                <i class="large {{docType.icon}}"></i>
                <span class="menu-label">
                    {{docType.name}}
                    <small>
                        {{docType.description}}
                    </small>
                </span>
            </a>
        </li>

    </ul>

    <ul class="umb-actions umb-actions-child" ng-show="selectBlueprint">

        <li ng-repeat="(key, value) in selectedDocType.blueprints | orderBy:'name':false">
            <a ng-click="createFromBlueprint(selectedDocType.key, key)">
                <i class="large {{selectedDocType.icon}}"></i>
                <span class="menu-label">
                    {{value}}
                </span>
            </a>
        </li>

        <li class="sep" ng-show="allowBlank">
            <a ng-click="createBlank(selectedDocType.key)">
                <i class="large {{selectedDocType.icon}}"></i>
                <span class="menu-label">
                    <localize key="blueprints_blankBlueprint">Blank</localize>
                </span>
            </a>
        </li>

    </ul>

</div>