<div class="umb-notifications inner-content-unsaved-changes">
    <ul class="umb-notifications__notifications">
        <li class="alert alert-block alert-form umb-notifications__notification animated -half-second fadeIn -no-border -extra-padding" ng-if="canConfirmClose && showConfirmClose">
            <a class="close -align-right" ng-click="cancelClose()" prevent-default>×</a>
            <div>
                <h4><localize key="prompt_unsavedChanges">You have unsaved changes</localize></h4>
                <p><localize key="prompt_unsavedChangesWarning">Are you sure you want to navigate away from this page? - you have unsaved changes</localize></p>
                <button class="btn" ng-click="confirmClose();"><localize key="prompt_discardChanges">Discard changes</localize></button>
                <button class="btn btn-success" ng-click="cancelClose()" umb-auto-focus><localize key="prompt_stay">Stay</localize></button>
            </div>
        </li>
    </ul>
</div>