<div class="inner-content__doctypepicker" ng-controller="Our.Umbraco.InnerContent.Controllers.DocTypePickerController as vm">
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="td-min" />
                    <th>
                        Document Type
                    </th>
                    <th>
                        Name Template
                        <i class="icon icon-help-alt inner-content__help-icon"
                           data-tooltip="Enter an angularjs expression to evaluate against each item for its name."
                           ng-mouseover="vm.tooltipMouseOver($event)"
                           ng-mouseleave="vm.tooltipMouseLeave()"></i>
                    </th>
                    <th class="td-min" ng-show="model.value.length > 1" />
                </tr>
            </thead>
            <tbody ui-sortable="vm.sortableOptions" ng-model="model.value">
                <tr ng-repeat="config in model.value">
                    <td class="icon icon-navigation"></td>
                    <td>
                        <select ng-options="dt.guid as dt.name for dt in vm.docTypes | orderBy: 'name'"
                                ng-model="config.icContentTypeGuid" required></select>
                    </td>
                    <td>
                        <input type="text" ng-model="config.nameTemplate" />
                    </td>
                    <td ng-show="model.value.length > 1">
                        <a class="btn btn-danger" ng-click="vm.remove($index)">Remove</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <a href="" class="btn" ng-click="vm.add()">Add</a>
        </div>
    </div>
    <umb-tooltip ng-if="vm.tooltip.show" event="vm.tooltip.event">
        {{vm.tooltip.content}}
    </umb-tooltip>
</div>