<div class="inner-content-dialog" ng-controller="Our.Umbraco.InnerContent.Controllers.InnerContentDialogController">

    <umb-tabs-nav ng-if="item.tabs" model="item.tabs" id-suffix="{{tabIdSuffix}}"></umb-tabs-nav>

    <div class="umb-overlay-container">
        <umb-tabs-content class="form-horizontal" view="true">
            <umb-tab id="tab{{tab.id}}{{tabIdSuffix}}" ng-repeat="tab in item.tabs" rel="{{tab.id}}">

                <umb-property ng-repeat="property in tab.properties" property="property" data-element="property-{{property.alias}}">
                    <umb-property-editor model="property"></umb-property-editor>
                </umb-property>

            </umb-tab>
        </umb-tabs-content>
    </div>

    <inner-content-unsaved-changes></inner-content-unsaved-changes>

</div>