<?xml version="1.0" encoding="utf-8"?>
<product guid="cb88aaa9-10a9-42fb-ac7b-e3e993d493f5" id="1106" nodeName="Tattoo" isDoc="" updated="2019-07-10T09:44:45.0200000Z" parentGUID="485343b1-d99c-4789-a676-e9b4c98a38d4" nodeTypeAlias="product" templateAlias="Product" sortOrder="1" published="true" isBlueprint="false">
  <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
  <category><![CDATA[tattoo,dedication]]></category>
  <description><![CDATA[Cras ultricies ligula sed magna dictum porta.]]></description>
  <features></features>
  <photos><![CDATA[umb://media/ce075369df3d426f972a36b355fd535f]]></photos>
  <price>499</price>
  <productName><![CDATA[Tattoo]]></productName>
  <sku><![CDATA[UMB-TATTOO]]></sku>
</product>