<?xml version="1.0" encoding="utf-8"?>
<product guid="300c30c1-ed8f-4943-af8b-803eaa8bbeef" id="1109" nodeName="Bowling Ball" isDoc="" updated="2019-07-10T09:44:43.8170000Z" parentGUID="485343b1-d99c-4789-a676-e9b4c98a38d4" nodeTypeAlias="product" templateAlias="Product" sortOrder="4" published="true" isBlueprint="false">
  <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
  <category><![CDATA[sports,bingo]]></category>
  <description><![CDATA[Cras ultricies ligula sed magna dictum porta.]]></description>
  <features></features>
  <photos><![CDATA[umb://media/dbce2b92a00a4aa29e16ca9bb4c2c712]]></photos>
  <price>899</price>
  <productName><![CDATA[Bowling Ball]]></productName>
  <sku><![CDATA[UMB-BOWLING]]></sku>
</product>