<?xml version="1.0" encoding="utf-8"?>
<contentPage guid="2b804661-b071-473b-9604-d9004ff341ab" id="1120" nodeName="About this Starter Kit" isDoc="" updated="2019-09-10T09:44:37.3970000Z" parentGUID="d62f0f1d-e4a9-4093-94ae-4efce18872ee" nodeTypeAlias="contentPage" templateAlias="ContentPage" sortOrder="0" published="true" isBlueprint="false">
  <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></bodyText>
  <keywords></keywords>
  <pageTitle><![CDATA[About this Starter Kit]]></pageTitle>
  <seoMetaDescription></seoMetaDescription>
  <umbracoNavihide>0</umbracoNavihide>
</contentPage>