<div id="uSyncDashboard" ng-controller="uSyncDashboardController" class="usync-dash">
    <div ng-show="isInError" class="alert alert-danger">Error: {{errorMsg}}</div>

    <div class="row">
        <div class="span12">
            <ul class="nav nav-tabs usync-tabs">
                <li class="active"><a href="#usync_tab" data-toggle="tab">uSync</a></li>
                <li ng-repeat="tab in settings.addOnTabs track by $index">
                    <a href="#usync_tab_{{$index}}" data-toggle="tab">{{tab.name}}</a>
                </li>
                <li><a href="#usync_history" data-toggle="tab">History</a></li>
                <li><a href="#usync_config" data-toggle="tab">Config</a></li>
                <li><a href="#usync_about" data-toggle="tab">About <i ng-show="!settings.licenced" class="icon-alert-alt color-red"></i></a></li>
            </ul>
        </div>

        <div class="tab-content">
            <div class="tab-pane active" id="usync_tab">
                <!-- usync tab -->
                <div class="row">
                    <div class="span12">
                        <small>(uSync.BackOffice {{settings.backOfficeVersion}})</small>
                        <small>
                            (uSync.Core {{settings.coreVersion}})
                            <span class="text-success">
                                {{settings.addOns}}
                            </span>
                        </small>
                        </h3>
                    </div>
                </div>

                <div class="row">
                    <div class="span12">
                        <h4 class="page-header">Import / Export</h4>
                        <p>
                            Perfom import and exports of your stuff - these actions are
                            processed against the files in <em>{{settings.settings.Folder}}</em>
                        </p>
                        <p>
                            &nbsp;
                        </p>
                        <div class="span6">
                            <p>
                                <button class="btn btn-info" ng-click="report()" ng-disabled="reporting">Report</button>
                                <small class="muted">Find out what will change if you import</small>
                            </p>
                            <p>
                                <button class="btn btn-success" ng-click="import(false)" ng-disabled="reporting">Import</button>
                                <small class="muted">Import on the things that have changed</small>
                            </p>

                        </div>
                        <div class="span6">
                            <p>
                                <button class="btn btn-mini btn-warning" ng-click="import(true)" ng-disabled="reporting">Full Import</button>
                                <small class="muted">Import everything (even if it's the same)</small>
                            </p>
                            <p>
                                <button class="btn btn-mini btn-inverse" ng-click="export()" ng-disabled="reporting">Full Export</button>
                                <small class="muted">
                                    Export everything to disk (wipes current folder)
                                    <br />
                                    <label style="padding-left: 5em;"><input type="checkbox" ng-model="deleteActionFile" /> also delete the action file (<a href="http://usync.readthedocs.io/action-file/" target="_blank">should I?</a>))</label>
                                </small>

                            </p>
                            <p>
                                <button class="btn btn-mini btn-default" ng-click="loadActions()">view uSync Actions</button>
                                <small class="muted">uSync Actions track things like deletes</small>
                            </p>
                        </div>
                        <div class="span12"><hr /></div>
                    </div>
                </div>
                <div class="row">
                    <div class="span12">
                        <div class="report-detail">
                            <div ng-show="reporting">
                                <ul class="usync-progress animated -half-second" style="list-style: none;position:relative;">
                                    <li class="umb-load-indicator__bubble"></li>
                                    <li class="umb-load-indicator__bubble"></li>
                                    <li class="umb-load-indicator__bubble"></li>
                                </ul>
                            </div>

                            <div ng-show="reported">
                                <div class="span8">
                                    <h4>{{reportName}} Processed <small>{{changes.length}} items, {{getChangeCount(changes)}} Changes</small></h4>
                                </div>
                                <div class="span4">
                                    <div class="report-controls">
                                        show 'no change' items <input ng-model="showNoChange" type="checkbox" class="form-control" no-Dirty-Check>
                                    </div>
                                </div>
                                <table class="table" ng-show="showNoChange || getChangeCount(changes) > 0">
                                    <tr>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Change</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tbody ng-repeat="change in changes">
                                        <tr ng-class="{'text-warning' : !change.Success, 'muted' : change.Change == 0 }" ng-show="showChange(change.Change)">
                                            <td>{{change.Name}}</td>
                                            <td>{{getChangeName(change.Change)}}</td>
                                            <td>{{getTypeName(change.ItemType)}}</td>
                                            <td>
                                                {{change.Message}}
                                            </td>
                                            <td>
                                                <button ng-show="change.Details != null && change.Details.length > 0"
                                                        ng-click="showDetail(change)" class="btn btn-mini">
                                                    Details
                                                </button>
                                            </td>

                                        </tr>
                                        <tr ng-if="change.Details != null && change.Details.length > 0" ng-show="change.showDetail">
                                            <td colspan="5">
                                                <div class="change-detail">
                                                    <h4>Changes for : {{change.Name}} <small>({{getTypeName(change.ItemType)}})</small></h4>
                                                    <table class="table">
                                                        <tr>
                                                            <th>Action</th>
                                                            <th>Path</th>
                                                            <th>Name</th>
                                                            <th>Old Value</th>
                                                            <th>New Value</th>
                                                        </tr>
                                                        <tr ng-repeat="detail in change.Details"
                                                            ng-class="{'text-error' : detail.Change == 2, 'text-success' : detail.Change == 0}">
                                                            <td>{{getDetailChange(detail.Change)}}</td>
                                                            <td>{{detail.Path}}</td>
                                                            <td>{{detail.Name}}</td>
                                                            <td class="text-error">{{getDetailValue(detail.OldVal)}}</td>
                                                            <td class="text-success">{{getDetailValue(detail.NewVal)}}</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row" ng-show="showActions">
                    <h3 class="page-header">uSync Actions</h3>
                    <p>
                        uSync stores actions (like, deletes, and renames of certain types) in a separate file (uSyncActions.config),
                        this lets uSync handle the bits that are more than changes of properties.
                    </p>
                    <p>
                        Sometimes you can end up with orphaned, actions in the action file; they usually do no harm, but if you want
                        you can remove them here.
                    </p>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Action</th>
                                <th>Type</th>
                                <th>Key (Guid)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="action in uSyncActions">
                                <td>{{action.Name}}</td>
                                <td>{{action.Action}}</td>
                                <td>{{action.TypeName}}</td>
                                <td>{{action.Key}}</td>
                                <td><button class="btn btn-mini" ng-click="removeAction(action.Name, action.TypeName)">Remove</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="tab-pane" id="usync_history">
                <!-- histroy -->
                <div class="row">
                    <div class="span12">
                        <p>
                            uSync logs each successful run in ~/app_data/temp/usync, to clear the history
                            just delete these files.
                            <button class="btn btn-mini btn-danger" ng-click="clearHistory()">Clear History</button>
                        </p>
                        <div ng-show="historyCleared > 0" class="alert alert-info">Removed {{historyCleared}} history files</div>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Changes</th>
                                    <th>Sync Type</th>
                                    <th>Date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="item in history">
                                <tr>
                                    <td>{{item.name}}</td>
                                    <td>{{getChangeCount(item.actions)}}</td>
                                    <td>{{item.type}}</td>
                                    <td>{{item.date}}</td>
                                    <td>
                                        <button class="btn btn-mini" ng-click="item.showDetail = !item.showDetail">Details</button>
                                    </td>
                                </tr>
                                <tr ng-show="item.showDetail">
                                    <td colspan="5">
                                        <table class="table">
                                            <tr>
                                                <th>Name</th>
                                                <th>Type</th>
                                                <th>Change</th>
                                                <th>Message</th>
                                            </tr>
                                            <tr ng-repeat="change in item.actions" ng-show="change.Change != 0"
                                                ng-class="{'text-warning' : !change.Success, 'muted' : change.Change == 0 }">
                                                <td>{{change.Name}}</td>
                                                <td>{{getTypeName(change.ItemType)}}</td>
                                                <td>{{getChangeName(change.Change)}}</td>
                                                <td>{{change.Message}}</td>
                                            </tr>
                                        </table>
                                        <!-- details will go here...-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div id="usync_config" class="tab-pane">
                <div class="row">
                    <div class="span12">
                        <div ng-show="contentEdition" class="alert alert-success">
                            uSync.ContentEdition is installed. Content and Media Handlers can now import and export content, as part of
                            a standard sync.
                        </div>
                    </div>
                    <div class="span6">
                        <div class="usync-info">
                            <h4>Setup</h4>
                            <p>Choose how uSync behaves on your site</p>
                            <label class="radio">
                                <input type="radio" ng-model="uSyncMode" value="auto" />
                                Auto Sync <small>Run import at startup, save changes to disk when they occur</small>
                            </label>
                            <label class="radio">
                                <input type="radio" ng-model="uSyncMode" value="target" />
                                Sync Target <small>Will run import at startup only</small>
                            </label>
                            <label class="radio">
                                <input type="radio" ng-model="uSyncMode" value="source" />
                                Sync Source <small>Don't import but save any changes that are made to disk</small>
                            </label>
                            <label class="radio">
                                <input type="radio" ng-model="uSyncMode" value="manual" />
                                Manual Sync <small>
                                    No automatic imports or saves.
                                    (why not try <a href="https://our.umbraco.org/projects/developer-tools/usyncSnapshots/" target="_blank">uSync.Snapshots</a>?)
                                </small>
                            </label>
                            <label class="radio">
                                <input type="radio" ng-model="uSyncMode" value="other" enabled="false" />
                                Other <small>Some other weird setup - see your uSyncBackOffice.config</small>
                            </label>
                            <hr />
                            <div class="text-center">
                                <button class="btn btn-default" ng-click="updateSettings()">Save Settings</button>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <h4>Handlers [Group: {{settings.settings.HandlerGroup}}]</h4>
                        <p>
                            Installed handlers, that actually do all the work of getting things to and from disk. You
                            can turn handlers on and off in the uSyncBackoffice.config file.
                        </p>
                        <strong>Handler Groups</strong>
                        <p>
                            Handlers are loaded by group - the <strong>{{settings.settings.HandlerGroup}}</strong> group is used on all default
                            actions
                        </p>
                        <div id="handlerAccordion">
                            <div ng-repeat="handlerGroup in settings.settings.Handlers">
                                <h4>
                                    <a href data-toggle="collapse" data-target="#group_{{handlerGroup.Group}}">
                                        Group Name : <em>{{handlerGroup.Group}}</em>
                                    </a>
                                    <small ng-if="handlerGroup.EnableMissing">will also load handlers not explicity listed in config file</small>
                                </h4>
                                <ul class="collapse" ng-class="{'in': handlerGroup.Group == settings.settings.HandlerGroup}"
                                    id="group_{{handlerGroup.Group}}">
                                    <li ng-repeat="handler in handlerGroup.Handlers"
                                        ng-class="{'text-error': !handler.Enabled, 'text-success': handler.Enabled}">
                                        <i class="icon icon-check" ng-if="handler.Enabled"></i>
                                        <i class="icon icon-wrong" ng-if="!handler.Enabled"></i>

                                        {{handler.Name}} (Enabled: {{handler.Enabled}})
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="usync_about" class="tab-pane">
                <p>
                    uSync is written and developed by <a href="http://jumoo.uk" target="_blank">Jumoo</a>, and is completely
                    free and open source.
                </p>
                <!-- licencing -->
                <div ng-hide="settings.licenced">
                    <p>
                        <!-- yes you can just remove this box, and lose the warning (don't forget the icon on the tab above)
                                but you will feel dirty, like you've stolen someones' chips.
                        -->
                        <div class="alert alert-warning">
                            Your version of uSync is unlicenced.
                            It doesn't stop anything from working, but you can make yourself feel better with a
                            <a href="http://jumoo.uk/usync/licence/" target="_blank" style="text-decoration:underline;">goodwill licence</a>, and it will
                            make this warning go away.
                        </div>
                    </p>
                </div>
                <div ng-show="settings.licenced">
                    <p>
                        <div class="alert alert-success">You are licenced, we like you. :) </div>
                    </p>
                </div>

                <div class="row">
                    <div class="span6">
                        <h3 class="page-header">Getting Help</h3>
                        <p>
                            There are a number of places you can go to get help with uSync.
                        </p>
                        <h4>uSync Forums on our.umbraco.org</h4>
                        <p>
                            The forums are the best place to go to get answers, not least because
                            other people beyond Kevin might answer them
                        </p>
                        <div class="usync-button">
                            <a href="https://our.umbraco.org/projects/developer-tools/usync/usync/" target="_blank" class="btn btn-success">
                                uSync Forums on our.umbraco.org
                            </a>
                        </div>
                        <h4>uSync GitHub Repository</h4>
                        <p>
                            If you want to get underneath the hood, and look at the code, then
                            the GitHub repo is the place to look.
                        </p>
                        <div class="usync-button">
                            <a href="https://github.com/KevinJump/uSync/" target="_blank" class="btn btn-default">uSync on GitHub</a>
                        </div>
                        <h4>Complex Stuff via Jumoo</h4>
                        <p>
                            If you have some complex weird requirements, that you think uSync could
                            do but doesn't then <a href="mailto:usync@jumoo.co.uk">drop us a line</a>.
                        </p>
                        <p>
                            We are always willing to look at adding new features, and we are not
                            immune to doing some bespoke paid for extensions if you really need them.
                        </p>
                        <div class="usync-button">
                            <a href="mailto:usync@jumoo.co.uk" class="btn btn-mini btn-default">Contact Us</a>
                        </div>
                    </div>
                    <div class="span6">
                        <h3 class="page-header">Helping uSync</h3>
                        <p>
                            uSync is a completely open source project, and you can contribute to it
                            in a number of ways.
                        </p>
                        <h4>Submit Code</h4>
                        <p>
                            If you want to add a cool feature or just fix that annoying bug, you can
                            do it yourself!.
                        </p>
                        <div class="usync-button">
                            <a href="https://github.com/KevinJump/uSync/" target="_blank" class="btn btn-default">uSync on GitHub</a>
                        </div>
                        <p>
                            Go look at the uSync GitHub repository, fork it, do some code stuff and
                            submit a pull request. We'll merge it in and put it in the next release.
                        </p>
                        <h4>Submit bugs</h4>
                        <p>
                            If most of that sounded like a foreign language, or if you can't be bothered
                            with it, you can still submit bugs to our issue tracker.
                        </p>
                        <div class="usync-button">
                            <a href="https://github.com/KevinJump/uSync/issues" target="_blank" class="btn btn-warning btn-lg">Submit an issue</a>
                        </div>
                        <p>
                            We will work with you to get to the bottom of whats going on, and more than
                            likely we'll fix the issue for you.
                        </p>
                    </div>
                </div>

            </div>

            <div ng-repeat="tab in settings.addOnTabs track by $index" id="usync_tab_{{$index}}" class="tab-pane">
                <div ng-include="tab.template"></div>
            </div>
        </div>
    </div>
</div>
