<?xml version="1.0" encoding="utf-8"?>
<macro>
  <name>Select Featured Products</name>
  <alias>featuredProducts</alias>
  <scriptType></scriptType>
  <scriptAssembly></scriptAssembly>
  <scriptingFile>~/Views/MacroPartials/featuredProducts.cshtml</scriptingFile>
  <xslt></xslt>
  <useInEditor>True</useInEditor>
  <dontRender>False</dontRender>
  <refreshRate>0</refreshRate>
  <cacheByMember>False</cacheByMember>
  <cacheByPage>False</cacheByPage>
  <Key>26964783-2205-4f68-81d6-7eb92686e475</Key>
  <properties>
    <property name="Choose Products" alias="products" sortOrder="0" propertyType="contentType" />
  </properties>
</macro>