<?xml version="1.0" encoding="utf-8"?>
<uSyncBackOfficeSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Import>true</Import>
  <ExportAtStartup>false</ExportAtStartup>
  <ExportOnSave>true</ExportOnSave>
  <WatchForFileChanges>false</WatchForFileChanges>
  <ArchiveVersions>false</ArchiveVersions>
  <Folder>~/uSync/data/</Folder>
  <ArchiveFolder>~/uSync/Archive/</ArchiveFolder>
  <BackupFolder>~/uSync/Backup/</BackupFolder>
  <MaxArchiveVersionCount>0</MaxArchiveVersionCount>
  <Handlers>
    <HandlerConfig Name="uSync: DataTypeHandler" Enabled="true" />
    <HandlerConfig Name="uSync: TemplateHandler" Enabled="true" />
    <HandlerConfig Name="uSync: ContentTypeHanlder" Enabled="true" />
    <HandlerConfig Name="uSync: MediaTypeHandler" Enabled="true" />
    <HandlerConfig Name="uSync: LanguageHandler" Enabled="true" />
    <HandlerConfig Name="uSync: DictionaryHandler" Enabled="true" />
    <HandlerConfig Name="uSync: MacroHandler" Enabled="true" />
  </Handlers>
</uSyncBackOfficeSettings>