<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Blog - How many posts should be shown - Slider" Key="889bac09-6ea1-428e-914e-80f0b0dd9ee9" Id="Umbraco.Slider" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue SortOrder="1" Alias="enableRange"><![CDATA[]]></PreValue>
    <PreValue SortOrder="2" Alias="orientation"><![CDATA[horizontal]]></PreValue>
    <PreValue SortOrder="3" Alias="initVal1"><![CDATA[3]]></PreValue>
    <PreValue SortOrder="4" Alias="initVal2"><![CDATA[]]></PreValue>
    <PreValue SortOrder="5" Alias="minVal"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="6" Alias="maxVal"><![CDATA[20]]></PreValue>
    <PreValue SortOrder="7" Alias="step"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="8" Alias="precision"><![CDATA[]]></PreValue>
    <PreValue SortOrder="9" Alias="handle"><![CDATA[round]]></PreValue>
    <PreValue SortOrder="10" Alias="tooltip"><![CDATA[always]]></PreValue>
    <PreValue SortOrder="11" Alias="tooltipSplit"><![CDATA[]]></PreValue>
    <PreValue SortOrder="12" Alias="tooltipFormat"><![CDATA[]]></PreValue>
    <PreValue SortOrder="13" Alias="tooltipPosition"><![CDATA[]]></PreValue>
    <PreValue SortOrder="14" Alias="reversed"><![CDATA[]]></PreValue>
    <PreValue SortOrder="15" Alias="ticks"><![CDATA[]]></PreValue>
    <PreValue SortOrder="16" Alias="ticksPositions"><![CDATA[]]></PreValue>
    <PreValue SortOrder="17" Alias="ticksLabels"><![CDATA[]]></PreValue>
    <PreValue SortOrder="18" Alias="ticksSnapBounds"><![CDATA[]]></PreValue>
  </PreValues>
</DataType>