<?xml version="1.0" encoding="utf-8"?>
<person guid="23dca8e9-d496-4507-8726-dc06ecc5962f" id="1115" nodeName="Matt Brailsford" isDoc="" updated="2019-09-10T09:44:42.6770000Z" parentGUID="485343b1-d99c-4789-a676-e9b4c98a38d4" nodeTypeAlias="person" templateAlias="Person" sortOrder="1" published="true" isBlueprint="false">
  <department><![CDATA[United Kingdom,mvp]]></department>
  <email></email>
  <facebookUsername></facebookUsername>
  <instagramUsername><![CDATA[circuitbeard]]></instagramUsername>
  <keywords></keywords>
  <linkedInUsername></linkedInUsername>
  <photo><![CDATA[umb://media/8319cfa9910a41008064a1c3b648cb60]]></photo>
  <seoMetaDescription></seoMetaDescription>
  <twitterUsername><![CDATA[matt]]></twitterUsername>
  <umbracoNavihide>0</umbracoNavihide>
</person>