<?xml version="1.0" encoding="utf-8"?>
<MediaType>
  <Info>
    <Key>cc07b313-0843-4aa8-bbda-871c8da728c8</Key>
    <Name>Image</Name>
    <Alias>Image</Alias>
    <Icon>icon-picture</Icon>
    <Thumbnail>icon-picture</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Compositions />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>00000009-0000-0000-0000-000000000000</Key>
      <Name>Size</Name>
      <Alias>umbracoBytes</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.NoEdit</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Image</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>0000000a-0000-0000-0000-000000000000</Key>
      <Name>Type</Name>
      <Alias>umbracoExtension</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.NoEdit</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Image</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>00000006-0000-0000-0000-000000000000</Key>
      <Name>Upload image</Name>
      <Alias>umbracoFile</Alias>
      <Definition>1df9f033-e6d4-451f-b8d2-e0cbc50a836f</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Image</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>00000008-0000-0000-0000-000000000000</Key>
      <Name>Height</Name>
      <Alias>umbracoHeight</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.NoEdit</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Image</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>00000007-0000-0000-0000-000000000000</Key>
      <Name>Width</Name>
      <Alias>umbracoWidth</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.NoEdit</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Image</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Image</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</MediaType>