<?xml version="1.0" encoding="utf-8"?>
<Test guid="89bd3a91-1ec8-4f22-8d52-37b3766594ca" id="1065" nodeName="test" isDoc="" updated="2015-08-22T21:45:27.267Z" parentGUID="00000000-0000-0000-0000-000000000000" nodeTypeAlias="Test" templateAlias="ChildTemplate" sortOrder="0" published="true">
  <test><![CDATA[test]]></test>
</Test>