<?xml version="1.0" encoding="utf-8"?>
<products guid="485343b1-d99c-4789-a676-e9b4c98a38d4" id="1104" nodeName="Products" isDoc="" updated="2019-07-10T09:44:42.8970000Z" parentGUID="156f1933-e327-4dce-b665-110d62720d03" nodeTypeAlias="products" templateAlias="Products" sortOrder="0" published="true" isBlueprint="false">
  <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
  <defaultCurrency><![CDATA[€]]></defaultCurrency>
  <featuredProducts><![CDATA[umb://document/e09253c015204aac802390742b6180dc,umb://document/9c4dffe2201541998576fdf7120c861d,umb://document/dd4011757019487994315403fb7f62d2,umb://document/978b40bce0084a70950baf7f7ebe7281]]></featuredProducts>
  <keywords></keywords>
  <pageTitle><![CDATA[Our Gorgeous Selection]]></pageTitle>
  <seoMetaDescription></seoMetaDescription>
  <umbracoNavihide>0</umbracoNavihide>
</products>