/* Inner Content - Doc Type Picker */

.inner-content__doctypepicker table input,
.inner-content__doctypepicker table select {
    width: 100%;
    padding-right: 0;
}

.inner-content__doctypepicker table td.icon-navigation,
.inner-content__doctypepicker i.inner-content__help-icon {
    vertical-align: middle;
    color: #CCC;
}

.inner-content__doctypepicker table td.icon-navigation:hover,
.inner-content__doctypepicker i.inner-content__help-icon:hover {
    color: #343434;
}

.inner-content__doctypepicker table .td-min {
    width: 1px;
}


/* Inner Content - Content Overlay Panel */

.inner-content-overlay > .umb-overlay-right > .umb-overlay__form > .umb-overlay-container {
    padding: 0;
    position: static;
}

.inner-content-dialog > .nav-tabs {
    margin: -31px 0 0 20px;
}

.inner-content-pane {
    margin: 30px 20px;
}
