<?xml version="1.0" encoding="utf-8"?>
<DataType Name="APickerType" Key="da3a853b-857e-468d-8543-919ec099fe02" Id="Umbraco.ColorPickerAlias" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue Id="217" Value="000000" Alias="0" />
    <PreValue Id="218" Value="cc4747" Alias="1" />
    <PreValue Id="219" Value="4762cc" Alias="2" />
    <PreValue Id="220" Value="47cc56" Alias="3" />
  </PreValues>
</DataType>