<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>a15862cd-9e41-4659-937e-db9b2e870173</Key>
    <Name>People</Name>
    <Alias>people</Alias>
    <Icon>icon-user-females-alt</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Compositions>
      <Composition Key="05072ba3-4c3b-44ca-b11e-235d109ca1d2">contentBase</Composition>
      <Composition Key="7fb246e5-3c51-408a-b510-143bb9ab52a1">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>People</DefaultTemplate>
    <AllowedTemplates>
      <Template>People</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <DocumentType Key="8e67964e-0428-4ba6-97ad-b5bdb83dc3f4">person</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>6d213526-79ad-4313-9a57-117553c5ea18</Key>
      <Name>Featured People</Name>
      <Alias>featuredPeople</Alias>
      <Definition>dfab9a27-67d3-4dba-ac91-3a70f9faadfe</Definition>
      <Type>Umbraco.MultiNodeTreePicker2</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>