<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>8e67964e-0428-4ba6-97ad-b5bdb83dc3f4</Key>
    <Name>Person</Name>
    <Alias>person</Alias>
    <Icon>icon-user-female</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Compositions>
      <Composition Key="7fb246e5-3c51-408a-b510-143bb9ab52a1">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>Person</DefaultTemplate>
    <AllowedTemplates>
      <Template>Person</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9449fc2c-94d5-4194-a3f6-a3b65017bd64</Key>
      <Name>Department</Name>
      <Alias>department</Alias>
      <Definition>71e1e182-da10-4280-aa35-800a8de19a32</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Details</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>05eeb43b-0cc9-4c4f-93d3-117f39fa59c6</Key>
      <Name>Email</Name>
      <Alias>email</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Details</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>3583a550-a80a-47b7-97a3-fe84e4431b57</Key>
      <Name>Facebook username</Name>
      <Alias>facebookUsername</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Social</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b2138dae-3323-4c35-9821-edeb0bc29c1d</Key>
      <Name>Instagram Username</Name>
      <Alias>instagramUsername</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Social</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>279b5422-4096-414d-a182-b1ad339e3c10</Key>
      <Name>LinkedIn username</Name>
      <Alias>linkedInUsername</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Social</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>654f9659-1112-4c33-97e1-0d08c1c7849a</Key>
      <Name>Photo</Name>
      <Alias>photo</Alias>
      <Definition>c63ba300-f879-40e9-86cb-2e9401f64e16</Definition>
      <Type>Umbraco.MediaPicker2</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Details</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>f1ad99ea-b3c3-485a-bc26-e0b3fdd1ae92</Key>
      <Name>Twitter username</Name>
      <Alias>twitterUsername</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Social</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Details</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Social</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>