<?xml version="1.0" encoding="utf-8"?>
<DataType Name="People - Featured People - Multinode Treepicker" Key="dfab9a27-67d3-4dba-ac91-3a70f9faadfe" Id="Umbraco.MultiNodeTreePicker2" DatabaseType="Ntext">
  <PreValues>
    <PreValue SortOrder="1" Alias="startNode"><![CDATA[{
  "type": "content",
  "id": "umb://document/5582ae2fefa8422fa9c97ff1c9e8dd85"
}]]></PreValue>
    <PreValue SortOrder="2" Alias="filter"><![CDATA[]]></PreValue>
    <PreValue SortOrder="3" Alias="minNumber"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="4" Alias="maxNumber"><![CDATA[9]]></PreValue>
    <PreValue SortOrder="5" Alias="showOpenButton"><![CDATA[1]]></PreValue>
  </PreValues>
</DataType>