<?xml version="1.0" encoding="utf-8"?>
<blog guid="1cb33e0a-400a-4938-9547-b05a35739b8b" id="1122" nodeName="Blog" isDoc="" updated="2019-07-10T09:44:38.2570000Z" parentGUID="156f1933-e327-4dce-b665-110d62720d03" nodeTypeAlias="blog" templateAlias="Blog" sortOrder="3" published="true" isBlueprint="false">
  <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></bodyText>
  <disqusShortname></disqusShortname>
  <howManyPostsShouldBeShown><![CDATA[2]]></howManyPostsShouldBeShown>
  <keywords></keywords>
  <pageTitle><![CDATA[Behind The Scenes]]></pageTitle>
  <seoMetaDescription></seoMetaDescription>
  <umbracoNavihide>0</umbracoNavihide>
</blog>