<?xml version="1.0" encoding="utf-8" ?>
<uSyncCoreSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">


  <!-- where uSync will store media files (if you need it to) -->
  <MediaStorageFolder>~/uSync/MediaFiles/</MediaStorageFolder>

  <!-- Move the media into the uSync folder (default true) -->
  <!-- 
    MoveMedia = false then you need to move your media folder to get the media files
    MoveMedia = true then the usync folder will contain the media files, and map them
                on import. 
                
    For new installs recommended is false, because embedded media will then also work.      
  -->
  <MoveMedia>false</MoveMedia>
  
  <!-- content Match used by core: 
        Newer: we use the date, so only newer content is updated (this is the historical default)
        Mismatch : updates happen if the content is diffrent (so irespective of update dates)
  -->
  <ContentMatch>Newer</ContentMatch>


  <!-- uSync Core Settings
  
    Mappings help usync do property value mappings,
    each mapping describes how a datatype may store
    internal ids inside umbraco. 
    
    uSync can map Ids between versions for:
    
      Content (and media)
      Templates
      DocumentTypes
      Tab Ids
  
  -->
  <Mappings>
    <!-- multinode tree picker, has an id in the json -->
    <uSyncValueMapperSettings>
      <DataTypeId>Umbraco.MultiNodeTreePicker</DataTypeId>
      <MappingType>content,media</MappingType>
      <ValueStorageType>json</ValueStorageType>
      <ValueAlias>startNode</ValueAlias>
      <PropertyName>id</PropertyName>
      <!-- 
      <PropertySplitter>0</PropertySplitter>
      <PropertyPosistion>0</PropertyPosistion>
      -->
    </uSyncValueMapperSettings>

    <!-- content picker, it stores a start id-->
    <uSyncValueMapperSettings>
      <DataTypeId>Umbraco.ContentPickerAlias</DataTypeId>
      <MappingType>content</MappingType>
      <ValueStorageType>text</ValueStorageType>
      <ValueAlias>startNodeId</ValueAlias>
    </uSyncValueMapperSettings>

    <!-- media picker (for mappings media is also content) -->
    <uSyncValueMapperSettings>
      <DataTypeId>Umbraco.MediaPicker</DataTypeId>
      <MappingType>media</MappingType>
      <ValueStorageType>text</ValueStorageType>
      <ValueAlias>startNodeId</ValueAlias>
    </uSyncValueMapperSettings>

    <!-- multiple media picker (for mappings media is also content) -->
    <uSyncValueMapperSettings>
      <DataTypeId>Umbraco.MultipleMediaPicker</DataTypeId>
      <MappingType>media</MappingType>
      <ValueStorageType>text</ValueStorageType>
      <ValueAlias>startNodeId</ValueAlias>
    </uSyncValueMapperSettings>
  
    <!-- 3rd party pickers -->
    <uSyncValueMapperSettings>
      <DataTypeId>Mayfly.MrNPicker</DataTypeId>
      <MappingType>content</MappingType>
      <ValueStorageType>text</ValueStorageType>
      <ValueAlias>rootNodes</ValueAlias>
    </uSyncValueMapperSettings>

    <uSyncValueMapperSettings>
      <DataTypeId>CTH.ExtendedMediaPicker</DataTypeId>
      <MappingType>media</MappingType>
      <ValueStorageType>text</ValueStorageType>
      <ValueAlias>startNodeId</ValueAlias>
    </uSyncValueMapperSettings>
  </Mappings>

  <ContentMappings>
    
    <!-- properties that have content id's in them. -->
    <uSyncContentMapping Alias="Umbraco.ContentPickerAlias" Mapping="Content"/>
    <uSyncContentMapping Alias="Umbraco.TinyMCEv3" Mapping="Content" Regex="((?&lt;=localLink:)([0-9]+)|(?&lt;=data-id=&quot;)([0-9]+))" />
    <uSyncContentMapping Alias="Umbraco.MultiNodeTreePicker" Mapping="Content"/>
    <uSyncContentMapping Alias="Umbraco.RelatedLinks" Mapping="Content"/>
    <uSyncContentMapping Alias="Umbraco.MultipleMediaPicker" Mapping="Content"/>
    <uSyncContentMapping Alias="Umbraco.MediaPicker" Mapping="Content"/>
    
    <!-- mappings where IDs in the content relate to values inside a datatype -->
    <uSyncContentMapping Alias="Umbraco.RadioButtonList" Mapping="DataTypeKeys" />
    <uSyncContentMapping Alias="Umbraco.DropdownlistPublishingKeys" Mapping="DataTypeKeys" />
    <uSyncContentMapping Alias="Umbraco.DropdownlistMultiplePublishKeys" Mapping="DataTypeKeys" />
    <uSyncContentMapping Alias="Umbraco.DropDownList" Mapping="DataType" />
    <uSyncContentMapping Alias="Umbraco.DropDown" Mapping="DataType" />
    <uSyncContentMapping Alias="Umbraco.DropDownMultiple" Mapping="DataType" />
    <uSyncContentMapping Alias="Umbraco.CheckBoxList" Mapping="DataType" />
    
    <uSyncContentMapping Alias="Umbraco.Grid" Mapping="Custom" CustomMappingType="Jumoo.uSync.Core.Mappers.GridMapper,Jumoo.uSync.Core"/>

    <!-- grid mappers : value of control.editor.alias 
         goes down into an existing mapping, setting = name of value in control json that has id in it -->
    <uSyncContentMapping Alias="grid.rte" Mapping="Content" Settings="value"  Regex="((?&lt;=localLink:)([0-9]+)|(?&lt;=data-id=&quot;)([0-9]+))"/>
    <uSyncContentMapping Alias="grid.media" Mapping="Media" Settings="id"/>
    <uSyncContentMapping Alias="grid.macro" Mapping="Custom" CustomMappingType="Jumoo.uSync.Core.Mappers.GridMacroMapper,Jumoo.uSync.Core" />

    <!-- 3rd party pickers, (where ids are stored, usally as csv -->
    <uSyncContentMapping Alias="Mayfly.MrNPicker" Mapping="Content"/>
    <uSyncContentMapping Alias="CTH.ExtendedMediaPicker" Mapping="Content"/>

    <!-- 3rd party custom mappers have been moved into uSync.ContentMappers -->
    <!--
    <uSyncContentMapping Alias="Imulus.Archetype" Mapping="Custom" CustomMappingType="Jumoo.uSync.ContentMappers.ArchetypeContentMapper,Jumoo.uSync.ContentMappers" />
    <uSyncContentMapping Alias="Our.Umbraco.NestedContent" Mapping="Custom" CustomMappingType="Jumoo.uSync.ContentMappers.NestedContentMapper,Jumoo.uSync.ContentMappers" />
    <uSyncContentMapping Alias="Our.Umbraco.Vorto" Mapping="Custom" CustomMappingType="Jumoo.uSync.ContentMappers.VortoContentMapper, Jumoo.uSync.ContentMappers" />
    <uSyncContentMapping Alias="grid.docType" Mapping="Custom" CustomMappingType="Jumoo.uSync.ContentMappers.DocTypeGridMapper, Jumoo.uSync.ContentMappers" Settings="value" />
    -->

  </ContentMappings>
  
</uSyncCoreSettings>