.stacked-content {
    position: relative;
}

.stacked-content .umb-load-indicator {
    margin-top: 10px;
}

.stack__wrapper {
    margin-right: 12px;
}

.stack__item {
    position: relative;
    display: block;
    margin: 0;
    z-index: 9;
}

.stack__preview-wrapper {
    position: relative;
    border: 1px solid #f8f8f8;
}

.stacked-content .placeholder,
.stack__preview {
    display: block;
    text-decoration: none !important;
    cursor: pointer;
}

.stacked-content .placeholder,
.stack__preview--default {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    transition: background-color .25s ease-in-out;
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
}

.stacked-content .placeholder:hover,
.stacked-content .placeholder:active,
.stack__preview--default:hover,
.stack__preview--default:active {
    background-color: #f5f5f5;
}

.stacked-content .placeholder .icon,
.stack__preview--default .icon {
    font-size: 60px;
    line-height: 60px;
    color: rgba(0,0,0, 0.1);
}

.stacked-content .placeholder h3,
.stack__preview--default h3 {
    color: #343434;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin: 0;
}

.stacked-content .placeholder {
    border: 2px dashed #d9d9d9;
    background-color: #fff;
}

.stacked-content .placeholder,
.stacked-content .placeholder * {
    transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
}

.stacked-content .placeholder:hover {
    border-color: #00aea2;
    background-color: #fff;
}

.stacked-content .placeholder:hover * {
    color: #00aea2;
}

.stacked-content .placeholder a:hover {
    text-decoration: none;
}

.stack__buttons {
    position: absolute;
    right: -12px;
    top: 10px;
    background-color: #625a74;
    color: white;
    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.stack__buttons:after {
    position: absolute;
    bottom: -12px;
    right: 1px;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 11px 0 0;
    border-color: #2e2246 transparent transparent transparent;
}

.stack__buttons .umb_confirm-action__overlay {
    position: relative;
    display: inline-block;
    left: 0;
    z-index: 5;
}

.stack__buttons .umb_confirm-action__overlay-action {
    margin: 0 !important;
    background-color: #625a74;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    z-index: 5;
}

.stack__preview:hover + .stack__buttons,
.stack__buttons:hover {
    opacity: 1;
}

.stack__button {
    position: relative;
    z-index: 10;
}

.stack__button,
.stack__add-button,
.stack__paste-button,
.stack__buttons .umb_confirm-action__overlay-action {
    display: inline-block;
    background-color: #625a74;
    color: white !important;
    font-size: 20px;
    text-decoration: none !important;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}


.stack__button:hover,
.stack__add-button:hover,
.stack__paste-button:hover,
.stack__buttons .umb_confirm-action__overlay-action.-cancel:hover,
.stack__buttons .umb_confirm-action__overlay-action.-confirm:hover {
    color: white !important;
    text-decoration: none !important;
}

.stack__buttons .umb_confirm-action__overlay-action.-confirm:hover {
    background-color: #2ecc71;
    -webkit-border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}

.stack__buttons .umb_confirm-action__overlay-action.-cancel:hover {
    background-color: #e74c3c;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.stack__add-button,
.stack__paste-button {
    background-color: #00aea2;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    z-index: 20;
}

.stack__add-bar {
    position: relative;
    height: 30px;
    z-index: 15;
    text-align: center;
    margin: -10px 0;
}

.stack__add-bar .stack__add-button,
.stack__add-bar .stack__paste-button {
    opacity: 0;
    transition: opacity .0s ease-in-out;
    -moz-transition: opacity .0s ease-in-out;
    -webkit-transition: opacity .0s ease-in-out;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
}

.stack__item:first-child .stack__add-bar--top {
    margin: 0 0 -10px;
    height: 20px;
}

.stack__add-bar:hover .stack__add-button,
.stack__add-bar:hover .stack__paste-button {
    opacity: 1;
    transition-duration: .25s;
    -moz-transition-duration: .25s;
    -webkit-transition-duration: .25s;
    -webkit-transition-delay: .05s;
    -moz-transition-delay: .05s;
    transition-delay: .05s;
}

.stack__item.ui-sortable-placeholder {
    top: 5px;
    height: 2px !important;
    visibility: visible !important;
    background-color: #00aea2;
}

.stack__sortable-helper {
    overflow: visible;
}

.stack__sortable-helper > div {
    font-size: 20px;
    position: absolute;
    top: -20px;
    left: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #00aea2;
    color: white;
    margin: 0 0 0 -20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
}

.stack__buttons .no-overflow {
    max-width: 100%;
    overflow: hidden;
}
