<?xml version="1.0" encoding="utf-8"?>
<DataType Name="List View - Media" Key="3a0156c4-3b8c-4803-bdc1-6871faa83fff" Id="Umbraco.ListView" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue SortOrder="1" Alias="pageSize"><![CDATA[100]]></PreValue>
    <PreValue SortOrder="2" Alias="orderBy"><![CDATA[updateDate]]></PreValue>
    <PreValue SortOrder="3" Alias="orderDirection"><![CDATA[desc]]></PreValue>
    <PreValue SortOrder="4" Alias="layouts"><![CDATA[[{"name": "Grid","path": "views/propertyeditors/listview/layouts/grid/grid.html", "icon": "icon-thumbnails-small", "isSystem": 1, "selected": true},{"name": "List","path": "views/propertyeditors/listview/layouts/list/list.html","icon": "icon-list", "isSystem": 1,"selected": true}]]]></PreValue>
    <PreValue SortOrder="5" Alias="includeProperties"><![CDATA[[{"alias":"updateDate","header":"Last edited","isSystem":1},{"alias":"owner","header":"Updated by","isSystem":1}]]]></PreValue>
  </PreValues>
</DataType>